* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 100%;
    max-width: 1000px;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.d-none {
    display: none;
}

ul {
    list-style: none;
}

.pd-0 {
    padding: 0;
}

.lst-none {
    list-style: none;
}

.pd-l {
    padding-left: 10px;
}

.pd-l2 {
    padding-left: 20px;
}

.mr-t {
    margin-top: 10px;
}

.mr-b {
    margin-bottom: 20px;
}

.mr-t3 {
    margin-top: 30px;
}

.mr-r {
    margin-right: 10px;
}

.mr-2 {
    margin-right: 20px;
}

.mr-l2 {
    margin-left: 20px;
}

.col-1 {
    width: 8.33%;
}

.col-2 {
    width: 16.66%;
}

.col-3 {
    width: 25%;
}

.col-4 {
    width: 33.33%;
}

.col-5 {
    width: 41.66%;
}

.col-6 {
    width: 50%;
}

.col-7 {
    width: 58.33%;
}

.col-8 {
    width: 66.66%;
}

.col-9 {
    width: 75%;
}

.col-10 {
    width: 83.33%;
}

.col-11 {
    width: 91.66%;
}

.col-12 {
    width: 100%;
}

[class*="col-"] {
    float: left;
    padding-right: 10px;
    padding-left: 10px;
}

.row::after {
    content: "";
    clear: both;
    display: table;

}

.row {
    margin-right: -10px;
    margin-left: -10px;
}


.d-flex {
    display: flex;
}

.d-in-block {
    display: inline-block;
}

.img-fluid {
    width: 100%;
}

/*header*/
header {
    position: fixed;
    top: 0;
    left: 0;
    background: #081C24;
    color: white;
    width: 100%;
    z-index: 999;
}

.nav-bar {
    list-style: none;
    display: flex;
    justify-content: space-between;
}

.logo {
    width: 81px;
    height: 72px;
    margin-right: 30px;
}

.nav-item {
    padding-top: 25px;
    margin-right: 30px;
}

.nav-hover {
    position: absolute;
    top: 88px;
    display: none;
}

.item-link {
    color: white;
    text-decoration: none;
    margin-right: 30px;
    font-family: sans-serif;
    font-size: 13px;
    color: #868E91;
    font-weight: bold;
}

.nav-link {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
    font-family: sans-serif;
    font-weight: 600;
    font-size: 15px;
}

.nav-item:hover .nav-hover {
    display: flex;
}

.nav {
    padding: 20px 0;
}

.nav-right {
    margin-left: auto;
}

.nav-small {
    list-style: none;
    margin-left: auto;
}

.nav-small .nav-item {
    padding: 0;
}

.nav-small .nav-item > .nav-link {
    text-transform: capitalize;
    font-weight: unset;
    font-size: 12px;
    color: #868E91;
}

.btn-language {
    background: transparent;
    border: 1px solid #fff;
    border-radius: 5px;
    padding: 5px;
    font-size: 12px;
}

.search {
    background: #fff;
    border-bottom: 0.5px solid #DEDEDE;
    height: 48px;
}

.search-input {
    width: 100%;
    border: none;
    padding: 20px 30px 10px 10px;
    height: 47px;
}

.search-input:focus {
    outline: none;
}

#btn-bars {
    cursor: pointer;
}

.responsive-menu {
    background: rgba(8, 28, 36, 0.95);
    position: fixed;
    height: 100%;
    width: 0;
    padding: 0;
    top: 80px;
    transition: all 0.3s;
    left: 0;
}

.sub-menu li {
    padding-top: 10px;
}

.active {
    width: 90%;
    padding: 0 10px;
}

.menu-icon {
    padding-top: 15px;
    font-size: 20px;
}

.menu-mobile {
    display: none;
}

.menu-mobile .nav-small .nav-item > .nav-link {
    font-size: 16px;
}

.text {
    text-decoration: none;
    color: inherit;
    font-family: sans-serif;
    font-weight: 400;
    font-size: 18px;
}

.nav-mobile-item {
    padding: 5px 20px;
}

.nav-mobile-item .sub-menu {
    list-style: none;
}

::placeholder {
    font-style: italic;
    font-size: 16px;
    color: #ACACAC;
}

.search-icon {
    color: #ACACAC;
    padding-top: 18px;
    cursor: pointer;
}

.search-icon:hover {
    color: #081c24;
}

/**/

/*main*/

.banner {
    background-image: radial-gradient(at 30% top, rgba(31, 40, 73, 1) 0%, rgba(8, 28, 36, 1) 70%);
    display: block;
    width: 100%;
    height: 93px;
    box-sizing: border-box;

}

.banner .purple-image {
    background-position: -40px -500px;
    background-image: url("https://www.themoviedb.org/assets/1/v4/account_pipes/purple-63b164a075461641b7ef444ea97d9787adf45a9552fe215e20063e3ff02491a8.svg");
}

.purple-image {
    box-sizing: border-box;
    width: 100%;
    background-repeat: no-repeat;
    text-align: center;
    padding: 20px 0;
    height: 93px;
}

.purple-image h2 > a, p > a {
    color: white;
    text-decoration: none;
    font-family: sans-serif;
}

.purple-image p > a {
    color: #805BE7;
    text-transform: uppercase;
}

.purple-image p {
    margin-top: 5px;
}

main {
    margin-top: 180px;
}

.main {
    display: flex;
    flex-flow: nowrap;
}

main {
    font-family: sans-serif;
}

.main-item {
    width: 50%;
}

.movie {
    position: relative;
}

.info-movie {
    position: absolute;
    bottom: 15px;
    padding-left: 15px;
    z-index: 1;
    color: #ffffff;
    width: 100%;
}

.main-item .info-movie {
    bottom: 15px;
}

.main-item .info-movie h3 {
    padding-top: 0;
}

.info-movie img {
    float: left;
    width: 13%;
    margin-right: 5px;
}

.info-movie h3 {
    padding-top: 50px;
}

.text-info {
    width: auto;
}

.feature {
    margin-top: 20px;
    display: flex;
}

.feature-info {
    margin-left: 10px;
    width: 50%;
}

.feature-info p:first-child {
    color: #00d573;
    text-transform: capitalize;
    font-weight: bold;
}

.feature-info p:last-child {
    font-size: 13px;
    padding-top: 5px;
}

.top-user {
    width: 30%;
}


.top-user > ul > li > a {
    text-decoration: none;
    color: #00d573;
    font-weight: 600;
}

/**/
/*footer*/
footer {
    background-image: url('../Assets/footer-bacground.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    color: white;
    font-family: sans-serif;
}

.footer-item {
    margin-top: 10px;
}

.footer-link {
    text-decoration: none;
    color: inherit;
}

.footer-content {
    padding: 100px 20px;
}

.footer-items {
    list-style: none;
}

.logo-footer {
    text-align: center;
}

.btn-user {
    margin-left: 50px;
    background: #ffffff;
    border-radius: 5px;
    height: 40px;
    width: 200px;
    padding-top: 12px;

}

.btn-user > a {
    text-decoration: none;
    color: #01D277;
    font-weight: bold;
}

/**/

/*Popular*/
.title-article {
    padding-top: 20px;
}

.movie-page .short_bar_mobile {
    background: #161515;
    color: white;
}

.movie-page .short_bar_mobile .nav-item {
    color: white;
}

.movie-page .short_bar_mobile .nav-link {
    color: white;
}

.img-movie {
    float: left;
    margin-right: 10px;
}

.img-movie:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.info {
    padding: 10px;
    margin-right: 10px;
}

.info a {
    text-decoration: none;
    color: inherit;
}

.info-content {
    padding-top: 30px;
    display: block;
    max-width: 500px;
    height: 175px;
    line-height: 1.4;
    overflow: hidden;

}

.title-movie {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.more-info {
    border-top: 1px solid #E3E3E3;
    padding-top: 15px;
    margin-top: 10px;
}

.more-info a {
    text-decoration: none;
    color: #081c24;
}

.movie-card {
    width: 48%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    margin-top: 30px;
    height: 278px;
    overflow: hidden;
}

.list-movie {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-around;
    margin-bottom: 50px;
}

.time {
    color: rgba(0, 0, 0, 0.6);
    font-size: 13px;
}

/**/
/*People*/
.person-details {
    padding-bottom: 0;
}

.discussions {
    position: relative;
    height: 39px;
}

.discussions:hover .drop-down {
    display: block;
}

.drop-link {
    font-weight: 200;
    border-right: 1px solid #A6A8B0;
    border-left: 1px solid #A6A8B0;
    border-bottom: 1px solid #A6A8B0;
    padding: 15px 30px;
    color: #00d573;
    text-decoration: none;
    display: block;
}
.drop-down-mobile{
    position: absolute;
    width: auto;
    z-index: 2;
    background: #ffffff;
    display: none;
}
.active-drop-down{
    display: block;
}
.overflow{
    height: 60px;
    overflow: hidden;
}
.drop-down:hover {
    display: block;
}

.drop-down {
    position: absolute;
    top: 39px;
    background: white;
    display: none;
}

.person-card {
    width: 22%;
    height: 22%;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1), 0 3px 6px rgba(0, 0, 0, 0.15);
    margin: 10px;
    display: inline-block;
}

.person-card a {
    text-decoration: none;
    color: inherit;
}

.person-info {
    padding: 10px;
}

.person-info p:first-child {
    font-weight: bold;
    font-size: 18px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

}

.person-info p:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}


.person-thumbnail {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 215px;
    width: auto;
}

.title-person {
    padding-top: 10px;
    padding-left: 10px;
}

.list_credit {
    text-align: center;
    background: #ffffff;
}

.list_credit {
    text-align: center;
}

.credit_card {
    margin-right: 20px;
    width: 185px;
    display: inline-block;
    margin-top: 20px;
}

.image_credit {
    cursor: pointer;
}

.image_credit > img {
    border-radius: 5px;
}

.image_credit:hover {
    filter: contrast(130%);
    transition: ease-in-out .1s;
}

.column_wrapper {
    width: 100%;
    display: flex;
    align-content: flex-start;
}

.personal_info {
    padding-top: 50px;
    width: 300px;
    margin-left: auto;
}

.name_credit {
    text-decoration: none;
    color: #081C24;

}

.name_credit > p {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.known_for {
    width: 700px;
}

.col-white {
    background: #ffffff;
    width: 60%;
    justify-content: flex-start;
    padding-bottom: 50px;
}

.col-grey {
    width: 40%;
    justify-content: flex-end;
    display: flex;
    background: #f1f1f1;
    padding-bottom: 50px;
}

/**/
/*Person details*/
.detail-title {
    margin: 30px 0;

}

.detail-info {
    padding-left: 50px;
}

.annotation {
    margin-bottom: 16px;
    font-weight: bold;
    line-height: 1em;
    font-size: 18px;
}

.biography {
    height: 145px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: pre-wrap;
}

.btn-more {
    background: #00d573;
    height: 30px;
    width: 30px;
    border-radius: 50px;
    text-align: center;
    margin: 20px auto;
    cursor: pointer;
}

.btn-more:hover {
    background: #081c24;
    transition: 0.2s linear;
}

.btn-more i {
    padding-top: 8px;
    color: #fff;
}


.detail {
    width: 70%;
    display: inline-block;
}

.detail-thumbnail {
    width: 30%;
    display: inline-block;
}

.shortcut_nav {
    background: #fff;
    width: 100%;
    display: block;
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    bottom: 50px;
    height: 60px;
}

.shortcut_bar {
    display: flex;
    list-style: none;
    padding: 20px;
    padding-bottom: 0;
    white-space: nowrap;
    margin-left: 25px;
    float: right;
}

.shortcut_bar .nav-item:hover {
    border-bottom: 5px solid #ACACAC;
    color: #ACACAC;
}

.shortcut_bar .nav-item:hover .nav-link {
    color: #ACACAC;
}

.shortcut_nav .nav-item {
    padding: 0;
    margin-right: 45px;
}

.movie-page .shortcut_bar .nav-item {
    margin-right: 0;
}

.shortcut_bar .nav-link {
    color: #081c24;
    text-transform: capitalize;
}

.detail-item {
    margin-top: 30px;
}

.item-d {
    margin-top: 8px;
}

.content_detail {
    position: relative;
    background: #f1f1f1;
}

.short_bar_mobile {
    background: #E5E5E5;
    margin-left: 0;
    display: flex;
    list-style: none;
    padding: 20px 10px;
    overflow-x: auto;
    white-space: nowrap;
    justify-content: space-between;
}

.short_bar_mobile .nav-item {
    padding-top: 0;
    margin-right: 0;
    position: relative;
}

.short_bar_mobile .nav-link {
    color: #081C24;
    text-transform: capitalize;
    font-weight: unset;
}

.mobile_nav {
    text-align: center;
    display: none;
    height: 60px;
    position: relative;
    z-index: 4;
}

.person-avatar {
    background: rgba(0, 0, 0, 0);
    transition: background-color 0.3s;
    position: absolute;
    top: 0;
}

.avatar {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 300px;
    height: 300px;
    display: none;
    border-radius: 10px;
}

.person-avatar > img {
    border-radius: 8px;
    position: relative;
    visibility: visible;

}


.person-name {
    font-weight: 800;
    font-size: 20px;
}

.person {
    background: #f1f1f1;
    padding-top: 50px;
}

/**/
/*Search*/
.search-item {
    border-bottom: 2px solid #081c24;
    padding: 12px 0;

}

.search-nav .search-item:first-child {
    border-top: 2px solid #081c24;
}

.search-item:hover {
    border-bottom: 2px solid #00d573;
}

.search_active {
    border-bottom: 2px solid #00d573;
}

.search-page {
    padding-top: 40px;
}

.search-link {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.search-cards .movie-card {
    width: 100%;
    position: relative;
}

.search-cards .movie-card .more-info {
    position: absolute;
    bottom: 0;
    z-index: 1;
    width: 75%;
    right: 0;
}

.search-cards .movie-card .info {
    padding-top: 25px;
}

.search-cards .info-content {
    height: 200px;
}

.keyword {
    padding: 7px;
    border-radius: 8px;
    border: 1px solid #DEDFDF;
    outline: none;
}

/**/
/*Movie detail*/
.details-movie {
    position: relative;
}

.thumbnail-movie {
    background-image: radial-gradient(circle at 20% 50%, rgba(12.94%, 14.90%, 22.75%, 0.98) 0%, rgba(12.94%, 14.90%, 22.75%, 0.88) 100%);
}

.thumbnail-movies {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;

}

.detail-movie {
    padding: 50px 0;
}

.info-detail-movie {
    color: white;
}

.title-feature {
    margin: 20px 0;
}

p.title-feature {
    margin: 10px 0;
    font-weight: bold;
}

.overview {
    padding: 20px 0;
}

.action {
    font-size: 20px;
    border-radius: 50px;
    width: 50px;
    height: 50px;
    border: 2px solid #ffffff;
    padding: 13px;
    transition: 0.3s;
    margin: 20px 20px 0 0;
}

.action:hover {
    background: white;
    color: #081c24;
}

.released {
    color: #A6A8B0;
    font-size: 20px;
}

.movie-page .shortcut_bar {
    display: flex;
    list-style: none;
    white-space: nowrap;
    justify-content: space-between;
    padding: 20px 0;
    float: none;
    margin-left: unset;
}

.sub-item {
    margin-right: 60px;
    padding: 20px 0;
}

.content_wrapper {
    border-top: 1px solid #D7D7D7;
    border-bottom: 1px solid #D7D7D7;
    height: 60px;
    overflow: hidden;

}

.sub-link {
    text-decoration: none;
    color: #081c24;
    font-weight: 600;
}

.list_actors {
    display: flex;
    overflow: auto;
    padding: 20px 0;
}

.actor {
    margin-top: 30px;
    height: 318px;
    overflow: hidden;

}

.actor_card {
    width: 140px;
    margin-right: 10px;
    margin-left: 5px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    height: 250px;
}

.info_actor {
    padding: 10px;
    height: 90px;
    overflow: hidden;

}

.info_actor p:last-child {
    overflow: hidden;
    text-overflow: ellipsis;
    font-size: 15px;
}

.info_actor p:first-child > a {
    font-weight: 600;
    font-size: 15px;
    padding-bottom: 5px;
    color: #081C24;
}

.actor_avatar {
    height: 160px;
    overflow: hidden;
}

.movie-page .column_wrapper .col-white {
    width: 65%;
}

.movie-page .column_wrapper .col-grey {
    width: 35%;
}

.column_grey {
    background: #f1f1f1;
    width: 50%;
    margin-right: auto;
}

.column_grey .title-feature {
    margin-top: 30px;
}

.column_white {
    background: #ffffff;
    width: 65%;
    margin-left: auto;
}

.nav-social {
    display: flex;
    padding: 20px 20px 0 20px;
}

.social-link {
    color: #081c24;
    padding-right: 8px;
}

.movie_about, #keyword {
    padding: 0 20px;
}

.border-r {
    border-right: 1px solid #D7D7D7;
    margin-right: 5px;
}

.movie_trailer {
    display: flex;
    overflow: auto;
    height: 320px;
    overflow-y: hidden;

}

.trailer {
    height: 372px;
    overflow: hidden;
}

.trailer h2 {
    padding: 20px 0;
}

.trailer_item {
    padding-bottom: 20px;
}

.collection {
    position: relative;
}

.thumbnail-collection {
    content: '';
    position: absolute;
    left: 0;
    right: 0;
    width: 100%;
    height: 258px;
    z-index: -1;
    display: block;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    filter: grayscale(80%);
}

.panel {
    background: rgba(14, 14, 15, 0.71);
    width: 100%;
    height: 258px;
    color: white;
    padding-top: 50px;
}

.btn-collection {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
    padding: 10px;
    background: #191970;
    border-radius: 20px;
    font-weight: 600;
    font-size: 15px;

}

.btn-collection:hover {
    background: #020406;
}

.title-collection, .info-collection {
    margin: 20px 0;
}

.title-collection {
    font-size: 25px;
}

.info-collection {
    margin-bottom: 30px;
}

.genres-item {
    background: white;
    padding: 5px;
    border: 1px solid #D7D7D7;
    border-radius: 5px;
    width: auto;
    display: inline-block;
    margin: 5px;
    text-decoration: none;
    color: #081c24;
    text-transform: uppercase;
    font-size: 14px;
}

.keyword-item {
    font-size: 13px;
    text-transform: lowercase;
}

/**/

/*Recommend*/
.recommnend {
    height: 230px;
    overflow: hidden;
    padding: 20px 0;
}

.list_recommend {
    display: flex;
    overflow: auto;
    padding: 20px 0;
}

.recommend_card {
    width: 250px;
    margin-right: 20px;
    cursor: pointer;
}

.image-recommend > img {
    width: 250px;
    border-radius: 5px;
}

.image-recommend {
    position: relative;
    overflow: hidden;
}

.image-recommend:hover .sub {
    visibility: visible;
}

.sub {
    visibility: hidden;
    position: absolute;
    bottom: 0;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    width: 100%;

}

.movie-name p:first-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 80%;
}

.movie-link {

    color: #081c24;

}

.movie-name p:last-child {
    margin-left: auto;
}

/**/
.overview-mobile {
    display: none;
    color: #fff;
}
#Overlay{
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: transparent;
    z-index: 3;
}
/*popup*/
#backgroundOverlay {
    position: fixed;
    display: none;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(24, 24, 25, 0.67);
}

#openOverlay {
    cursor: pointer;
    border-radius: 8px;
}

#popup {
    background-color: #fff;
    width: 1000px;
    height: 760px;
    position: absolute;
    overflow: hidden;
    z-index: 500;
    display: none;
}

.item_image {
    float: left;
    width: 60%
}

.item_image:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.popup_item {
    position: absolute;
    bottom: 0;
    width: 40%;
    right: 0;
}

.title-popup {
    color: #868686;
    font-size: 15px;
}

.info-popup {
    border-bottom: 1px solid #868686;
    padding-left: 20px;
}

.feel {
    padding: 20px;
}

.feel span:last-child {
    float: right;
}

.feel span:last-child:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.feel span:hover {
    color: #A6A8B0;
}

/**/
/*Image page*/
.header-sm {
    height: 100px;
}

.avatar-cast {
    width: 60px;
    display: inline-block;
}

.avatar-cast img {
    border-radius: 8px;
    margin-right: 10px;
}

.name-cast {
    display: inline-block;
    padding-left: 10px;
}

.name-cast h2 {
    font-size: 38px;
}

.back-link {
    color: #00d573;
    text-decoration: none;
}

.image_nav {
    justify-content: space-around;
    display: flex;
    list-style: none;
    padding: 20px;
    padding-bottom: 0;
    white-space: nowrap;
    margin-left: 25px;
}

.image_nav .nav-link {
    color: #081c24;
    text-transform: capitalize;
}

.nav_action {
    border-bottom: 3px solid #081C24;
    border-top: 3px solid #081C24;
    padding: 15px 0;
    width: 100%;
}

.nav_action a {
    color: #081c24;
    text-decoration: none;
    text-transform: capitalize;
    padding-left: 10px;
}

.nav_action a:hover {
    color: #00d573;
}

.action_column {
    width: 180px;
    margin-left: auto;
    margin-right: 40px;
    margin-top: 30px;
}

.cast-card {
    width: 30%;
    margin-top: 20px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}

.title-info {
    border-bottom: 1px solid #cccccc;
    padding: 10px;
    margin-bottom: 10px;
}

.info-post {
    padding: 10px;
}

.info-post p {
    margin-top: 10px;
    font-size: 12.8px;
    color: #333;
}

.info-post a {
    text-decoration: none;
    font-size: 15px;
    color: #081c24;
}

.list-cast {
    width: 700px;
    display: flex;
    flex-flow: wrap;
    justify-content: space-around;
}

.image-page .col-white {
    width: 65%;
    padding-bottom: 50px;
}

.image-page .col-grey {
    width: 35%;
}

/**/
/*Discover*/
.Discover-page .title-article a {
    text-decoration: none;
}

.Discover-page .title-article a:first-child {
    color: #00d573;
    margin-right: 8px;
}

.Discover-page .title-article a:last-child {
    color: #2DD4F7;
}

.filer_item {
    float: left;
    margin-right: 30px;
}

.filer_item p {
    margin-bottom: 4px;
}

.filter_nav {
    margin-top: 20px;
}

.filter_nav:after {
    content: ".";
    visibility: hidden;
    display: block;
    height: 0;
    clear: both;
}

.select_default {
    display: none;
}

.custom-select {
    position: relative;
    font-family: Arial;
}

.select-selected {
    background-color: #E4E4E4;
}

.select-selected:after {
    position: absolute;
    content: "";
    top: 14px;
    right: 10px;
    width: 0;
    height: 0;
    border: 6px solid transparent;
    border-color: #fff transparent transparent transparent;
}

.select-selected.select-arrow-active:after {
    border-color: transparent transparent #fff transparent;
    top: 7px;
}

.select-items div, .select-selected {
    padding: 8px 30px 8px 8px;
    border: 1px solid transparent;
    cursor: pointer;
    user-select: none;
    border-radius: 5px;
    font-size: 13px;
}

.select-items {
    position: absolute;
    background-color: #ffffff;
    top: 100%;
    left: 0;
    right: 0;
    transition: all 0.2s;
    z-index: 99;
    height: 200px;
    overflow: auto;
}

.select-hide {
    height: 0;
    overflow: hidden;
}

.filer_geners {
    width: 105px;
}

.select-items div:hover, .same-as-selected {
    background-color: rgba(0, 0, 0, 0.1);
}

/**/
@media only screen and (max-width: 1440px) {
    .column_grey {
        width: 60%;
    }

    .column_white {
        width: 80%;
    }
}

@media only screen and (max-width: 1100px) {
    .column_grey, .column_white {
        width: 100%;
    }
}

@media only screen and (max-width: 1024px) {
    .movie-card {
        display: block;
        width: 30%;
        height: auto;
    }

    .search-cards .movie-card {
        display: flex;
        box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
        margin-top: 30px;
        margin-right: 20px;
    }

    .d-hidden-l {
        display: none;
    }

    .img-movie {
        float: none;
        margin-right: 0;
    }

    .info-content, .info {
        width: auto;
    }

    .more-info {
        margin-top: 20px;
    }


}

@media only screen and (max-width: 992px) {
    .info-movie img {
        display: none;
    }

    .d-hidden-m {
        display: none;
    }

    .image-page .column_wrapper {
        display: inline-block;
    }

    .list-cast {
        width: 100%;
    }

    .action_column {
        width: 100%;
    }

    .image-page .col-white {
        width: 100%;
        padding-bottom: 50px;
    }

    .image-page .col-grey {
        width: 100%;
    }

    /*popup*/
    #popup, #backgroundOverlay {
        visibility: hidden;
    }

    /*people*/
    .person-avatar {
        width: 300px;
        height: 300px;
        overflow: hidden;
        margin: auto;
        position: relative;
    }

    .avatar {
        display: block;
    }

    .detail {
        width: 100%;
    }

    .detail-thumbnail {
        width: 100%;
        padding-top: 30px;
    }


    .detail-title {
        text-align: center;
        padding-left: 0;
    }

    .detail-info {
        padding-left: 0;
    }

    .mobile_nav {
        display: block;
    }

    .person-details {
        padding-top: 0;
    }

    .shortcut_bar {
        float: unset;
    }

    .person {
        padding-top: 0;
    }

    /**/
    .person-details .column_wrapper {
        display: inline-block;
        width: 100%;
        align-content: unset;
    }

    .person-details .column_wrapper .col-grey {
        width: 100%;
        justify-content: unset;
        display: block;
        padding: 0;
    }

    .person-details .column_wrapper .col-white {
        width: 100%;
        justify-content: unset;
        display: block;
        padding: 0;
    }

    .personal_info {
        width: 100%;
        margin-left: 0;
        background: #f1f1f1;

        padding: 0 10px;
    }

    .known_for {
        margin-bottom: 50px;
        width: 100%;
        overflow: hidden;
        height: 325px;
        padding: 0 10px;
    }

    .list_credit {
        display: flex;
        justify-content: space-between;
        overflow: auto;
    }

}

@media only screen and (max-width: 768px) {
    .cast-card {
        width: 50%;
    }

    .col-sm {
        width: 100%;
    }

    main {
        margin-top: 137px;
    }

    .feature {
        display: block;
    }

    .top-user {
        padding-top: 30px;

    }

    .main {
        display: block;
    }

    .main .main-item {
        width: 100%;
    }

    .menu-mobile {
        display: flex;
    }

    footer {
        background: linear-gradient(to top right, #2455a9, #00d573);
    }

    .footer-title {
        padding-top: 40px;
    }

    .d-hidden {
        display: none;
    }


    .person-card {
        width: 30%;
        height: 22%;
    }

    .search-cards {
        display: flex;
        flex-flow: row wrap;
    }

    .search-cards .movie-card {
        display: block;
        width: 45%;
    }

    .overview-mobile {
        display: block;
    }

    .column_wrapper {
        display: inline-block;
        width: 100%;
        align-content: unset;
    }

    .col-grey {
        width: 100%;
        justify-content: unset;
        display: block;
        padding: 0;
    }

    .col-white {
        background: #ffffff;
        width: 100%;
        justify-content: unset;
        display: block;
    }

    .logo-footer {
        margin-top: 50px;
    }

    .column_white {
        background: #ffffff;
        width: 100%;
        margin-left: unset;
    }

    .column_grey {
        background: #f1f1f1;
        width: 100%;
        margin-right: unset;
    }

    .movie-page .column_wrapper {
        width: 100%;
        align-content: unset;
        display: inline-block;
    }

    .movie-page .column_wrapper .col-white {
        width: 100%;
    }

    .movie-page .column_wrapper .col-grey {
        margin-top: 30px;
        width: 100%;
    }

    .cast-card {
        width: 45%;
    }

    /*filter*/
    .filer_item{
        padding-top: 15px;
    }
    /**/

}

@media only screen and (max-width: 640px) {
    .movie-card {
        width: 45%;
    }

    .person-card {
        width: 45%;
        height: 22%;
    }

    .short_bar_mobile .nav-item {
        margin-right: 50px;
    }

}

@media only screen and (max-width: 500px) {
    .search-card {
        display: block;
    }

    .sub-movie, .image-movie {
        width: 100%;
    }

}

@media only screen and (max-width: 440px) {
    .person-card {
        width: 100%;
        height: 22%;
        overflow: hidden;
        margin: 10px 0;
    }

    .person-thumbnail {
        height: 300px;
        width: auto;
    }

    .search-cards .movie-card {
        display: block;
        width: 100%;
    }

    .search-cards .movie-card .img-movie {
        height: 300px;
        overflow: hidden;
    }

}